@page "/"
@using MudBlazor
@using Fintrak.Shared.Models

<PageTitle>Dashboard - Fintrak</PageTitle>

<MudStack Spacing="6">
    <!--Top Bar -->
    <MudStack Row='true' AlignItems="AlignItems.Center"
    Justify="Justify.SpaceBetween">
        <div>
            <MudText Typo="Typo.h5" Style="font-weight: 600;
            letter-spacing: -4px;">
                Dashboard
            </MudText>
            <MudText Typo="Typo.body2" Color="Color.Secondary">
                    Track your spendings
            </MudText>
        </div>
        <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center">
            <MudButtonGroup Variant="Variant.Outlined" Size="Size.Small">
                <MudButton>1M</MudButton>
                <MudButton Color="Color.Primary">3M</MudButton>
                <MudButton>1Y</MudButton>
            </MudButtonGroup>
            <MudButton Variant="Variant.Outlined" Size="Size.Small">
                Import CSV
            </MudButton>
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add"  Size="Size.Small">             
                Add New
            </MudButton>
        </MudStack>
    </MudStack>
</MudStack>